.form-control {
    border: none;
}

.form__details {
    background: $body-color;
    color: $color-secondary;
    & form {
            padding: 20px;
        }
    }

.form-check-input {
    background-color: $color-primary;
    padding: 10px;
}

.form-check-label {
    margin-left: 10px;
}

.icon_color {
    width: 50px;
    margin: 10px;
}

.contact_info {
    & ul {
        list-style: none;
        padding: 0px;
        margin-left: 70px;
    }
    color: $color-secondary;
    &--item {
        margin-bottom: 20px;
    }
}