.navbar-brand {
    color: $color-primary !important;
    font-family: $headings-font-family;
    font-weight: bold;
    font-style: italic;
}

a {
    color: black !important;
    text-decoration: none !important;
}

.navbar {
    background-color: $color-tertiary !important;
    padding: 14px 0 14px 0;
    & form button  {
        color: white;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    &.active {
    background-color: white;
    border-radius: 5px;
    }
}



.nav__search {
    margin-left: auto;
    & button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    & input {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar-light .navbar-nav .nav-link {
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        &.active {
            border-radius: 0px;
            margin-left: -120px;
            margin-right: -120px;
            padding-left: 160px;
        }
    }
    .nav__search {
        width: 100%;
        margin-top: 30px;
    }
    .navbar-collapse {
        margin-top: 20px;
    }
}
